.input {
  outline: none;
  background: transparent;
  color: white;
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px white solid;
}
.main {
  background-color: #eab704;
  padding: 25px 30px;
  border-radius: 14px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.theanswer {
  font-size: 2.4rem;
  font-weight: bold;
}
